<div class='header-wrapper'>
	<div class='header'></div>
	<div id='navigation-bar'>
		<ul>
			<li class='active'><%= link_to 'Home', controller: 'champions' %>
			<li><%= link_to 'Champions', controller: 'champions' %>
			<li><%= link_to 'The Rules', controller: 'champions' %>
			<li><%= link_to 'Register', controller: 'champions' %>
		</ul>
	</div>
</div>
