// Place all the styles related to the champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	z-index: 0;
}

body {
  background: black asset-url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  color: white;
  text-shadow: 0px 0px 1px white;
  box-shadow: 0px 0px 10px black;
}

.header {
	height: 150px;
	background: asset-url('images/wwpc-header.png');
}

.navigation {
	background-color: white;
	height: 25px;
}

a {
  color: white;
  border-bottom: none;
}

ul {
  list-style-type: none;
}

.content {
	background: asset-url('images/pattern1.png');
	background-size: 150px 150px;
	background-repeat: repeat;
	opacity: 0.7;
	padding: 25px;
}

h1 {
  font-size: 1.5em;
  border-left: none;
}

h2 {
  color: white;
  font-size: 1.2em;
  line-height: 1.2em;
}

table {
}

th {
}

table {
}

th {
}

td {
} 

@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#navigation-bar,
#navigation-bar ul,
#navigation-bar li #navigation-bar a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 0.1;
}
#navigation-bar {
  width: auto;
}
#navigation-bar ul {
  zoom: 1;
  background: #000 asset-url('images/pattern2.png') top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #AAAAAA;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#navigation-bar ul:before {
  content: '';
  display: block;
}
#navigation-bar ul:after {
  content: '';
  display: table;
  clear: both;
}
#navigation-bar a,
#navigation-bar a:link,
#navigation-bar a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
}
#navigation-bar a:hover {
}
#navigation-bar li {
  float: left;
}
#navigation-bar li:hover {
  background: #282828;
	transition: background-color 0.3s ease;
}
#navigation-bar li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
