// Place all the styles related to the champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	z-index: 0;
}

body {
  background: black asset-url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  color: #ddd;
  text-shadow: 0px 0px 1px #ddd;
}

.header {
	height: 150px;
	background: asset-url('images/wwpc-header.png');
	margin-bottom: 15px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.footer {
	background: rgba(0, 0, 0, 0.8);
	padding: 15px 25px;
}

a {
  color: #ddd;
}

ul {
  list-style-type: none;
}

.content {
	background: rgba(0, 0, 0, 0.6);
	padding: 25px;
	min-height: 500px;
}

h1 {
  font-size: 1.4em;
	color: #ddd;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px 25px;
}

h2 {
  color: #ddd;
  font-size: 1.2em;
  line-height: 1.2em;
}

table {
}

th {
}

table {
}

th {
}

td {
} 

/*************
 * NAVIGATION
*************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#navigation-bar {
  background: #000;
  width: auto;
	margin-bottom: 15px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#navigation-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#navigation-bar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navigation-bar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navigation-bar.align-right ul li {
  float: right;
}
#navigation-bar.align-center ul {
  text-align: center;
}
#navigation-bar ul li a {
  color: #aaa;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navigation-bar ul li a:hover {
  color: #ddd;
}
#navigation-bar ul li a:hover:before {
  width: 100%;
}
#navigation-bar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -6px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #aaa;
  opacity: .5;
}
#navigation-bar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ddd;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navigation-bar ul li.last > a:after,
#navigation-bar ul li:last-child > a:after {
  display: none;
}
#navigation-bar ul li.active a {
  color: #ddd;
}
#navigation-bar ul li.active a:before {
  width: 100%;
}
#navigation-bar.align-right li.last > a:after,
#navigation-bar.align-right li:last-child > a:after {
  display: block;
}
#navigation-bar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navigation-bar ul li {
    float: none;
    display: block;
  }
  #navigation-bar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
  }
  #navigation-bar ul li.last > a,
  #navigation-bar ul li:last-child > a {
    border: 0;
  }
  #navigation-bar ul li a:after {
    display: none;
  }
  #navigation-bar ul li a:before {
    display: none;
  }
}
