<h1>world wide people's championship</h1>
<h2>division <%= @division_board.division %></h2>
<%= link_to '> back <', controller: 'champions' %>
<table>
	<tr>
		<th>name</th>
		<th>defended</th>
	</tr>

	<% @division_board.champions.each do |champion| %>
		<tr>
			<td><%= champion.name %></td>
			<td><%= champion.defended %></td>
		</tr>
	<% end %>

</table>

