<table>
	<tr>
		<th>name</th>
		<th>defended</th>
	</tr>

	<% @division_board.champions.each do |champion| %>
		<tr>
			<td><%= champion.name %></td>
			<td><%= champion.defended %></td>
		</tr>
	<% end %>

</table>

