<ul class="current-champions">
	<li class="division">
		<%= link_to 'O1900', division_champions_path(division: 'o1900') %>
	</li>
	<li class="champion">PetricPwnz</li>
	<li class="division">
		<%= link_to 'U1900', division_champions_path(division: 'U1900') %>
	</li>
	<li class="champion">Tokyto</li>
	<li class="division">
		<%= link_to 'U1500', division_champions_path(division: 'U1500') %>
	</li>
	<li class="champion">yorick</li>
	<li class="division">
		<%= link_to 'U1100', division_champions_path(division: 'U1100') %>
	</li>
	<li class="champion">sasin</li>
</ul>
