<h1>world wide people's championship</h1>
<h2>current champions</h2>
<ul class="current-champions">
	<li class="division">
	</li>
	<li class="champion">PetricPwnz</li>
	<li class="division">
	</li>
	<li class="champion">Tokyto</li>
	<li class="division">
	</li>
	<li class="champion">yorick</li>
	<li class="division">
	</li>
	<li class="champion">sasin</li>
</ul>
info: you can click on the divisions<br>
practice on some wwpc maps: <%= @randomMaps.join '<br>' %>
